.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Ubuntu, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 86px;
  line-height: 86px;
  font-weight: 700;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 600px;
  padding-top: 256px;
  padding-bottom: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-2x {
  width: 100%;
  grid-column-gap: 64px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container {
  width: 100%;
  max-width: 1100px;
}

.container.popup-content {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.textblock-regular {
  font-size: 18px;
}

.textblock-regular.attention {
  color: red;
  font-weight: 700;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.image.qr-code {
  -o-object-fit: contain;
  object-fit: contain;
}

.image.cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.image-wrapper.qr-code {
  width: 250px;
  height: 250px;
  max-height: 250px;
  max-width: 250px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nft-list-wrapper {
  grid-column-gap: 46px;
  grid-row-gap: 46px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.nft-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease;
  transition: transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
  cursor: pointer;
}

.nft-item:hover {
  box-shadow: 0 9px 50px 0 rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.item-image-wrapper {
  position: relative;
  z-index: 1;
  min-height: 300px;
}

.popup-checkout {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 128px;
  padding-bottom: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.popup-checkout.hidden {
  display: none;
}

.popup-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-image: radial-gradient(circle farthest-corner at 100% 100%, #000, #141414);
  opacity: 0.92;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.popup-background-blur {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.grid-2x1 {
  position: relative;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 64px;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-perspective: 4000px;
  perspective: 4000px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.popup-details-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 36px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: none;
}

.tilt {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 50px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: perspective(0px) perspective(20px);
  transform: perspective(0px) perspective(20px);
}

.textblock-bold {
  margin-bottom: 12px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
}

.icon-title-container {
  padding: 8px 12px;
  border-radius: 2px;
  background-color: #fcfcfc;
}

.tooltip-question-mark {
  font-size: 14px;
  font-weight: 400;
}

.star-wrapper {
  margin-right: 10px;
  opacity: 0.17;
}

.tooltip {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 132%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  margin-right: 10px;
}

.icon.copy-to-clipboard {
  width: 22px;
  height: 22px;
  margin-right: 0px;
  opacity: 0.49;
}

.tooltip-trigger {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.icon-title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.icon-title-wrapper.hidden {
  display: none;
}

.star-rating {
  margin-right: 4px;
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tooltip-arrow {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-details-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 22px 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #000;
  box-shadow: 0 -1px 20px 0 #000;
  color: #fff;
}

.button {
  padding: 18px;
  background-color: #000;
  font-size: 26px;
}

.button.full-width {
  width: 100%;
  text-align: center;
}

.button.inverted {
  background-color: #fff;
  color: #000;
}

.spacer {
  height: 16px;
}

.spacer._32px {
  height: 32px;
}

.show-more {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

.highlight-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 72px;
  padding: 12px 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f7;
  white-space: break-spaces;
}

.highlight-box.w--open {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight-box.attention {
  height: auto;
  background-color: #ffd4d4;
}

.textblock-small {
  display: block;
  margin-bottom: 6px;
  opacity: 0.66;
  color: #ccc;
  text-decoration: none;
}

.textblock-small.more-info {
  background-color: #ff00f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff00f6), to(#1d001d));
  background-image: linear-gradient(180deg, #ff00f6, #1d001d);
  opacity: 0.74;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #ff00f6;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textblock-small.more-info:hover {
  opacity: 1;
}

.accordeon-body {
  position: relative;
  display: block;
  background-color: transparent;
}

.accordeon-body.w--open {
  background-color: transparent;
}

.wrapper {
  overflow: visible;
  max-width: 1100px;
  padding: 16px;
  text-decoration: none;
}

.wrapper.product-description {
  padding-right: 0px;
  padding-left: 0px;
}

.close-pop-up {
  position: absolute;
  left: auto;
  top: -16px;
  right: -16px;
  bottom: auto;
  width: 32px;
  height: 32px;
  padding: 4px 8px 8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 12px -6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.checkout-step-01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkout-step-01.hidden {
  display: none;
}

.popup-item-details-wrapper {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-item-details-wrapper.checkout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.checkout-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #b3b3b3;
  border-radius: 20px;
  background-color: #f7f7f7;
}

.textblock-value {
  margin: 8px 8px 8px 12px;
}

.copy-to-clipboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #dbdbdb;
  cursor: pointer;
}

.textblock-soft {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 700;
}

.value-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.vaule-field-title-wrapper {
  margin-bottom: 8px;
  padding-left: 16px;
}

.navigation-bar-menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-button {
  margin-right: 12px;
  margin-left: 12px;
  padding: 0px;
  color: #131313;
}

.navigation-button:hover {
  opacity: 0.7;
}

.navigation-button.w--current {
  opacity: 1;
  color: #000;
  text-decoration: none;
}

.logo-wrapper {
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 17px;
  font-weight: 500;
}

.navigation-bar-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.navigation-bar {
  position: fixed;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #ebedee;
  background-color: transparent;
  line-height: 20px;
}

.menu-icon {
  position: relative;
  display: inline-block;
}

.menu-button {
  margin-left: 24px;
  padding: 0px;
}

.menu-button:hover {
  opacity: 0.7;
}

.menu-button.w--open {
  background-color: transparent;
}

.navigation-bar-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social-icon-wrapper {
  margin: 4px 6px;
}

.social-icon-wrapper:hover {
  opacity: 0.5;
}

.social-icon {
  max-height: 21px;
  max-width: 21px;
  min-height: 21px;
  min-width: 21px;
}

.heading-wrapper {
  max-width: 560px;
}

.heading-wrapper.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.grid-hiw {
  position: relative;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 64px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-perspective: 4000px;
  perspective: 4000px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.hiw-title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.textblock {
  margin-bottom: 8px;
  background-color: transparent;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
}

.textblock.soft {
  color: #cacaca;
}

.textblock.order-status {
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cacaca;
}

.hiw-icon {
  position: relative;
  z-index: 0;
}

.hiw-answer-wrapper {
  overflow: hidden;
  padding: 0rem 2rem;
}

.heading-h2 {
  font-size: 56px;
  line-height: 56px;
}

.footer-addon-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.container-content {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-content.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  opacity: 0.66;
  color: #2b2b2b;
  text-decoration: none;
}

.footer-link.no-margin {
  margin-bottom: 0px;
}

.line {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: #ccc;
}

.line.vertical {
  width: 1px;
  height: 24px;
  margin: 0px 8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 400px;
  padding-top: 156px;
  padding-bottom: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider-line {
  width: 1px;
  height: 26px;
  margin-right: 8px;
  background-color: #131313;
}

.navbar-background-blur {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: hsla(0, 0%, 100%, 0.45);
}

.legal-page-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 98vh;
  padding-top: 256px;
  padding-bottom: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.spacer-2 {
  height: 32px;
}

.spacer-2._8px {
  height: 8px;
}

.textblock-bold-2 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.paragraph-normal {
  margin-bottom: 8px;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.grid-starting-soon {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.75fr 1.75fr;
  grid-template-columns: 0.75fr 1.75fr;
}

.div-starting-soon.left {
  background-color: #fff;
}

.div-starting-soon.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 64px 64px 128px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
  box-shadow: -17px 0 60px 0 #000;
  color: #fff;
}

.cta-banner {
  width: 100%;
  height: 100%;
  padding: 32px 64px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}

.heading-h3 {
  font-size: 46px;
  line-height: 46px;
}

.grid-cta-banner {
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.avatar-wrapper {
  overflow: hidden;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.module-divider {
  height: 26px;
  background-color: #f5f5f5;
}

.html-embed {
  height: 100px;
}

.checkout-step-02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkout-step-02.hidden {
  display: none;
}

.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  padding: 0px 36px 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-waiting-que {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 128px;
  padding-bottom: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.popup-waiting-que.hidden {
  display: none;
}

.popup-confirmation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 128px;
  padding-bottom: 128px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.popup-confirmation.hidden {
  display: none;
}

.icon-checkmark {
  margin: 32px;
}

.waiting {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.79);
}

.waiting.hidden {
  z-index: 3;
  display: none;
}

.waiting-animation {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.button-wrapper {
  position: relative;
}

.reserved {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.79);
}

.reserved.hidden {
  display: none;
}

.reserved-animation {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
  object-fit: none;
}

.badge {
  position: absolute;
  left: -32px;
  top: 32px;
  right: 165px;
  bottom: auto;
  z-index: 5;
  padding: 12px;
  background-color: #000;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.badge.reserved.hidden {
  display: none;
}

.badge.sold.hidden {
  display: none;
}

@media screen and (max-width: 991px) {
  .navigation-button {
    margin-right: 0px;
    margin-left: 0px;
    padding: 14px 24px 14px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navigation-bar-menu {
    z-index: 15;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid #ebedee;
    background-color: #fff;
  }

  .navigation-bar {
    padding-right: 24px;
    padding-left: 24px;
  }

  .menu-button {
    margin-left: 24px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-bar-grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .hiw-wrapper {
    position: static;
    z-index: 8888;
  }

  .hiw-title-wrapper {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .hiw-icon {
    position: relative;
    z-index: 0;
  }

  .hiw-answer-wrapper {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .textblock-small {
    margin-top: 6px;
    margin-bottom: 0px;
    color: #f1f1f1;
  }

  .textblock-small.more-info {
    color: #ccc;
  }

  .navigation-button {
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo-wrapper {
    width: auto;
  }

  .navigation-bar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    margin-left: 20px;
  }

  .navigation-bar-grid {
    grid-column-gap: 20px;
  }

  .hiw-title-wrapper {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .textblock {
    font-size: 1rem;
  }

  .hiw-answer-wrapper {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .spacer-2 {
    height: 16px;
  }
}

@media screen and (max-width: 479px) {
  .navigation-button {
    padding-right: 16px;
    padding-left: 16px;
  }

  .logo-wrapper {
    width: auto;
  }

  .navigation-bar {
    padding-right: 16px;
    padding-left: 16px;
  }

  .menu-button {
    margin-left: 16px;
  }

  .navigation-bar-grid {
    grid-column-gap: 16px;
  }

  .social-icon-wrapper {
    margin-right: 4px;
    margin-left: 4px;
  }
}

#w-node-_615ec4af-08af-20c3-c02d-4b6fcd774df5-0142e227 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_36e5bb2b-8cec-2751-558e-b43d317d3e63-0142e227 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_301009fa-9d29-c131-5de3-a51d09bbe333-0142e227 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-bf948153-88c9-24c7-1400-08aa3458d665-3458d661 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-ebb7e132-4777-2690-1cf7-f711b1fd5f79-b442e231 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d49a5c21-76d0-c981-5cf0-e219f1991139-b442e231 {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-b8f68814-f2f9-8590-c14e-a69aa036ab20-e742e235 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_4262dc0f-1f1f-e138-28fa-60f18aedbef4-e742e235 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_740e50dc-6f2d-90f1-554a-43fb4b0c6f9f-0142e227 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_807c7580-b766-5e7d-2394-cf1509023377-0142e227 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-bf948153-88c9-24c7-1400-08aa3458d663-3458d661 {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-bf948153-88c9-24c7-1400-08aa3458d665-3458d661 {
    -ms-grid-column-align: end;
    justify-self: end;
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}